@import "./base/variables.scss";


@import "./componentes/global";

@import "./componentes/banner";

@import "./componentes/burbujas";

@import "./componentes/carousel";

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}
  
.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

&.contenedor{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    &h1{
        color: #fff;
        font-family: 'Gagalin';
    }

    &nav a{
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }

    
}