$color-principal: black;
$color-secundario: #5a5a5a;
$collor-claro: #fff;

/* MAP GET Y MIXIN */

$paleta: (
blanco:#fff,
grisclaro:gray,
colorprincipal:black,
azulclaro: #005C98,
violeta:#505BDA,
);

@mixin estilodetitulo {
    color: map-get($paleta , blanco );
    font-family: 'Gagalin';
}


