/* --------------------------------------MAP----------------------------------- */

$paleta: (
blanco:#fff,
grisclaro:gray,
colorprincipal:black,
azulclaro: #005C98,
violeta:#505BDA,
);

/* ------------------------------------MIXIN---------------------------------- */

@mixin estilodetitulo {
    color: map-get($paleta , blanco );
    font-family: $familia-letra;
}


