.header_nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    &.contenedor {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0; }
    &h1 {
      color: #fff;
     }
    &nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 10px; }

    }